<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.acmelab.andgram"
      android:versionCode="3"
      android:versionName="1.2">

    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-sdk android:minSdkVersion="7"></uses-sdk>
    <application android:label="Andgram"
                 android:icon="@drawable/icon"
                 android:theme="@android:style/Theme.Light.NoTitleBar"
            >
        <activity android:name=".TakePictureActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImageListActivity"/>
        <activity android:name=".DashboardActivity"/>
    </application>
</manifest> 
